
/*Mobile*/
@media only screen and (max-width:480px) {
    .header {
        top: 0;
        left: 0;
        position: fixed;
        height: 41px;
        width: 100%;
        min-width: auto;
        background-color: #fff;
        box-shadow: -1px 4px 8px #dad8d8;
    }

    .header-btn {
        cursor: pointer;
        color: #666;
        background-color: #fcbe54;
        border: 1px solid #ada9a9;
        padding: 1px 9px;
        border-radius: 14px;
        font-size: 0.8em;
    }

    .search_box {
        margin-left: 6%;
        top: 19%;
        position: relative;
    }

    .search_box > input[type=text]{
        width: 44%;
        background-color: #fff; 
        border: 1px solid #a7a7a7;
        padding-left: 10px;
        color: orange;
        font-size: 94%;
        margin: 3px 5px;
        border-radius: 3px;
    }

    #reset-search {
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8em;
        padding: 2px 4px;        
        color: #5a5a5a;
        background-color: #f5f5f5;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        margin: 0px 2px;
    }

    #notification {
        position: absolute;
        margin: 51px auto 0;
        left: 31px;
        color: #484848;
        font-size: medium;
        border: 1px solid #04eae0;
        padding: 1px 8px;
        border-radius: 3px;
        background-color: #f7f7f7;
        box-shadow: 0px 0px 7px #e2dfdf;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9em;
        position: fixed;
    }

    #newContact {
        position: absolute;
        width: 94%;
        display: none;
        margin: 0 auto;
        left: 3%;
    }

    .formB {
        background-color: white;
        color: #3b3b3b;
        padding: 15px 7px 7px;
        border-radius: 5px;
        box-shadow: 0px 0px 11px #d5d5d5;
        font-family: Arial, Helvetica, sans-serif;
        margin: 53px auto;
        overflow: auto;
        font-size: 0.9em;
    }

    .formB table{
        width: 100%;
        text-align: center;
    }

    .tbutton {
        color: #5a5a5a;
        background-color: white;
        border: 1px solid black;
        padding: 1px 4px;
        border-radius: 2px; 
        font-size: 0.9em;
        margin: 0px 2px;
    }
    .tbutton:hover {
        cursor: pointer;
        background-color: #5a5a5a;
        color: white;
    }
    .obutton {
        color: #5a5a5a;
        background-color: #f5f5f5;
        border: 1px solid #d4d4d4;
        padding: 2px 8px;
        border-radius: 2px;
        font-size: 0.9em;
        margin: 0px 6px;
    }
    
    .obutton:hover {
        cursor: pointer;
        background-color: #ededed;
        color: #787878;
    }

    .formA {
        background-color: white;
        color: #3b3b3b;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0px 0px 11px #d5d5d5;
        font-family: Arial, Helvetica, sans-serif;
        width: 97%;
        margin: 0 auto;
        overflow: auto;
    }

    .formA table {
        width: 100%;
        overflow: auto;
        max-height: 300px;
    }

    .formA table td {
        color: #5f5f5f;
        max-width: 150px;
        overflow: hidden;
    }

    .formA table tr {
        text-align: center;
        font-size: 0.9em;
    }

    .formB input[type=text] {
        width: 87%;
        background-color: #f7f7f7; 
        position: relative;
        border: 1px solid #efeded;
        color: rgb(110, 130, 131);
        font-size: 90%;
        padding: 3px 4px;
        margin:  2px 0px;
        border-radius: 3px;
    }

    #table-options {
        padding: 5px;
        margin-bottom: 13px;
        float: right;
    }
    .del-def, .del-selected {
        cursor: pointer;
        padding: 0px 9px 0px 10px;
        background-color: #fff4e2;
        border-radius: 35%;
        border: 1px dashed #bdbdbd;
        line-height: 1.4em;
        margin: 0px 1px;
    }

    .del-def:hover {
        background-color: #ffe8c4;
        border: 1px solid #adadad;
    }

    .del-selected {
        background-color: #ffe8c4;
        border: 1px solid #adadad;
    }
    .del-selected:hover {
        background-color: #fff4e2;
        border: 1px dashed #adadad;
    }

    .row-fcol-select {
        background-color: #fff6e7;
        font-style: italic;
    }

    .desktop-tb-row {
        display: none;
    }
}

/*Tablet*/
@media only screen and (min-width:481px) and (max-width:768px) {
    .header {
        top: 0;
        left: 0;
        position: fixed;
        height: 41px;
        width: 100%;
        min-width: auto;
        background-color: #fff;
        box-shadow: -1px 4px 8px #dad8d8;
    }

    .header-btn {
        cursor: pointer;
        color: #666;
        background-color: #fcbe54;
        border: 1px solid #ada9a9;
        padding: 1px 9px;
        border-radius: 14px;
        font-size: 0.8em;
    }

    .search_box {
        margin-left: 8%;
        top: 19%;
        position: relative;
    }

    .search_box > input[type=text]{
        width: 44%;
        background-color: #fff; 
        border: 1px solid #a7a7a7;
        padding-left: 10px;
        color: orange;
        font-size: 94%;
        margin: 3px 5px;
        border-radius: 3px;
        max-width: 355px;
    }

    #reset-search {
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9em;
        padding: 2px 4px;        
        color: #5a5a5a;
        background-color: #f5f5f5;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        margin: 0px 2px;
    }

    #newContact {
        position: absolute;
        width: 80%;
        display: none;
        margin: 0 auto;
        left: 10%;
    }

    #notification {
        position: absolute;
        margin: 61px auto 0;
        left: 47px;
        color: #484848;
        font-size: medium;
        border: 1px solid #04eae0;
        padding: 1px 8px;
        border-radius: 3px;
        background-color: #f7f7f7;
        box-shadow: 0px 0px 7px #e2dfdf;
        font-family: Arial, Helvetica, sans-serif;
        position: fixed;
    }

    .formB {
        background-color: white;
        color: #3b3b3b;
        padding: 15px 7px 7px;
        border-radius: 5px;
        box-shadow: 0px 0px 11px #d5d5d5;
        font-family: Arial, Helvetica, sans-serif;
        margin: 65px auto;
        overflow: auto;
        font-size: 0.9em;
    }

    .formB table{
        width: 100%;
        text-align: center;
    }

    .tbutton {
        color: #5a5a5a;
        background-color: white;
        border: 1px solid black;
        padding: 1px 4px;
        border-radius: 2px; 
        font-size: 0.9em;
        margin: 0px 2px;
    }
    .tbutton:hover {
        cursor: pointer;
        background-color: #5a5a5a;
        color: white;
    }
    .obutton {color: #5a5a5a;
        background-color: #f5f5f5;
        border: 1px solid #d4d4d4;
        padding: 2px 8px;
        border-radius: 2px;
        font-size: 0.9em;
        margin: 0px 2px;
    }
    
    .obutton:hover {
        cursor: pointer;
        background-color: #ededed;
        color: #787878;
    }

    .formA {
        background-color: white;
        color: #3b3b3b;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0px 0px 11px #d5d5d5;
        font-family: Arial, Helvetica, sans-serif;
        width: 95%;
        margin: 10px auto;
        overflow: auto;
    }

    .formA table {
        width: 100%;
    }

    .formA table td {
        color: #5f5f5f;
        max-width: 150px;
        overflow: hidden;
    }

    .formA table tr {
        text-align: center;
        font-size: 0.9em;
    }

    .formB input[type=text] {
        width: 87%;
        background-color: #f7f7f7; 
        position: relative;
        border: 1px solid #efeded;
        color: rgb(110, 130, 131);
        font-size: 90%;
        padding: 3px 4px;
        margin:  2px 0px;
        border-radius: 3px;
    }

    #table-options {
        padding: 5px;
        margin-bottom: 13px;
        float: right;
    }   

    .del-def, .del-selected {
        cursor: pointer;
        padding: 0px 9px 0px 11px;
        background-color: #fff4e2;
        border-radius: 35%;
        border: 1px dashed #bdbdbd;
        line-height: 1.4em;
        margin: 0px 1px;
    }

    .del-def:hover {
        background-color: #ffe8c4;
        border: 1px solid #adadad;
    }

    .del-selected {
        background-color: #ffe8c4;
        border: 1px solid #adadad;
    }
    .del-selected:hover {
        background-color: #fff4e2;
        border: 1px dashed #adadad;
    }

    .row-fcol-select {
        background-color: #fff6e7;
        font-style: italic;
    }

    .desktop-tb-row {
        font-style: italic;
    }
}

/*Desktop*/
@media only screen and (min-width:769px) {
    .header {
        top: 0;
        left: 0;
        position: fixed;
        height: 41px;
        width: 100%;
        min-width: auto;
        background-color: #fff;
        box-shadow: -1px 4px 8px #dad8d8;
    }

    .header-btn {
        cursor: pointer;
        color: #666;
        background-color: #fcbe54;
        border: 1px solid #ada9a9;
        padding: 2px 6px;
        border-radius: 14px;
        font-size: 0.9em;
    }

    .search_box {
        margin-left: 8%;
        top: 19%;
        position: relative;
    }

    .search_box > input[type=text]{
        width: 44%;
        background-color: #fff; 
        border: 1px solid #a7a7a7;
        padding-left: 10px;
        color: orange;
        font-size: 94%;
        margin: 3px 5px;
        border-radius: 3px;
        max-width: 355px;
    }

    #reset-search {
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9em;
        padding: 2px 4px;        
        color: #5a5a5a;
        background-color: #f5f5f5;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        margin: 0px 2px;
    }

    #newContact {
        position: absolute;
        width: 46%;
        display: none;
        margin: 0 auto;
        left: 27%;
    }

    #notification {
        position: absolute;
        margin: 40px auto 0;
        left: 138px;
        color: #484848;
        font-size: medium;
        border: 1px solid #04eae0;
        padding: 2px 9px;
        border-radius: 3px;
        background-color: #f7f7f7;
        box-shadow: 0px 0px 7px #e2dfdf;
        font-family: Arial, Helvetica, sans-serif;
        position: fixed;
    }

    .formB {
        background-color: white;
        color: #3b3b3b;
        padding: 15px 7px 7px;
        border-radius: 5px;
        box-shadow: 0px 0px 11px #d5d5d5;
        font-family: Arial, Helvetica, sans-serif;
        margin: 65px auto;
        overflow: auto;
        font-size: 1em;
    }

    .formB table{
        width: 100%;
        text-align: center;
    }

    .tbutton {
        color: #5a5a5a;
        background-color: white;
        border: 1px solid black;
        padding: 1px 4px;
        border-radius: 2px; 
        font-size: 0.9em;
        margin: 0px 2px;
    }
    .tbutton:hover {
        cursor: pointer;
        background-color: #5a5a5a;
        color: white;
    }
    .obutton {color: #5a5a5a;
        background-color: #f5f5f5;
        border: 1px solid #d4d4d4;
        padding: 2px 8px;
        border-radius: 2px;
        font-size: 0.9em;
        margin: 0px 2px;
    }
    
    .obutton:hover {
        cursor: pointer;
        background-color: #ededed;
        color: #787878;
    }

    .formA {
        background-color: white;
        color: #3b3b3b;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0px 0px 7px #d5d5d5;
        font-family: Arial, Helvetica, sans-serif;
        width: 80%;
        margin: 35px auto;
        overflow: auto;
    }

    .formA table {
        width: 100%;
    }

    .formA table td {
        color: #5f5f5f;
        max-width: 150px;
        overflow: hidden;
    }

    .formA table tr {
        text-align: center;
        font-size: 1em;
    }

    .formB input[type=text] {
        width: 87%;
        background-color: #f7f7f7; 
        position: relative;
        border: 1px solid #efeded;
        color: rgb(110, 130, 131);
        font-size: 90%;
        padding: 3px 4px;
        margin:  2px 0px;
        border-radius: 3px;
    }

    #table-options {
        padding: 5px;
        margin-bottom: 13px;
        float: right;
    }

    .del-def, .del-selected {
        cursor: pointer;
        padding: 0px 10px 0px 11px;
        background-color: #fff4e2;
        border-radius: 35%;
        border: 1px dashed #bdbdbd;
        line-height: 1.4em;
        margin: 0px 1px;
    }

    .del-def:hover {
        background-color: #ffe8c4;
        border: 1px solid #adadad;
    }

    .del-selected {
        background-color: #ffe8c4;
        border: 1px solid #adadad;
    }
    .del-selected:hover {
        background-color: #fff4e2;
        border: 1px dashed #adadad;
    }
    .row-fcol-select {
        background-color: #fff6e7;
        font-style: italic;
    }

    .desktop-tb-row {
        font-style: italic;
    }
}


